* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	color: $font-color-base;
	background-color: $background-color-base;
	line-height: $line-height-base;
	overflow-x: hidden;
}

a {
	cursor: pointer;
}

::selection {
	color: #fff;
	background-color: $brand-primary;
}