.dropdown-menu {
	font-size: $dropdown-font-size;
	animation-name: fadeIn;
	animation-duration: 300ms;
	animation-fill-mode: both;
	@include border-radius(2px);
	@include box-shadow($default-shadow);
	border: none;

	.dropdown-item {
		padding: 5px 20px;
		line-height: $line-height-base;
		color: #333;
		@include transition(background-color linear .15s, color linear .15s);

		&:hover {
			text-decoration: none;
			color: #333;
			background-color: rgba(0, 0, 0, .075);
		}
	}
}