.nav-item {
	> a i {
		margin-right: 6px;
	}

	> .nav-link {
		&:hover,
		&:focus,
		&:active {
			background: rgba(0, 0, 0, 0.12);
		}
	}
}

.nav-link {
	@include transition(background-color linear .15s, color linear .15s);
}

.nav-pills .nav-link {
	@include border-radius(0);
}

.nav-second-level, .nav-third-level {
	.nav-link {
		&:hover {
			font-weight: 600;
		}
	}
}

.nav-second-level {
	.nav-link {
		padding: 7px 10px 7px 55px;
	}
}

.nav-third-level {
	.nav-link {
		font-size: 90%;
		padding: 7px 10px 7px 65px;
	}
}

