//类似 card，使用范围比 card 大，有背景颜色选择

.plate {
	clear: both;
	background: $background-color-lightest;
	margin: $plate-margin;
	padding: $plate-padding;
	@include box-shadow($default-shadow);

	&:before, &:after {
		display: table;
	}

	&.collapsed {
		.plate-content {
			display: none;
		}

		.fa.fa-chevron-up:before {
			content: "\f078";
		}
		.fa.fa-chevron-down:before {
			content: "\f077";
		}
	}
}

.plate-header {
	color: inherit;
	border-bottom: $plate-header-border;
	padding: $plate-header-padding;

	.label {
		float: left;
		margin-left: 4px;
	}

}

.plate-title {
	display: inline-block;
	font-size: 16px;
	padding: 0;
	text-overflow: ellipsis;
	float: left;
}

.plate-content {
	color: inherit;
	padding: $plate-content-padding;
}

.plate-footer {
	color: inherit;
	border-top: $plate-footer-border;
	font-size: 90%;
	padding: 10px 15px;
}

.plate-tools {
	display: block;
	float: none;
	margin-top: 0;
	position: relative;
	padding: 0;
	text-align: right;

	> a {
		cursor: pointer;
		margin-left: 5px;
		color: #c4c4c4;
	}
}

.plate-default {
	@include plate-variant($plate-default-bg);
}

.plate-primary {
	@include plate-variant($plate-primary-bg);
}

.plate-success {
	@include plate-variant($plate-success-bg);
}

.plate-info {
	@include plate-variant($plate-info-bg);
}

.plate-warning {
	@include plate-variant($plate-warning-bg);
}

.plate-danger {
	@include plate-variant($plate-danger-bg);
}