# IDEA project files
#.idea
.idea/workspace.xml
out
build
target
classes
*.class
.gradle

# nodejs
node_modules
vendor

# Package Files #
# *.jar
*.war
*.ear

# ignore JRebel config xml
rebel.xml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

